{% extends 'adm/base.html' %}

{% block content%}
{% load crispy_forms_tags %}
<form action="{% url 'coupon_add' %}" method="POST" class="col-lg-6 uniForm" style="padding:2rem;margin:auto; " >
  {% csrf_token %}
  <h3>Add Coupon</h3>
  <div class="form-control row " style="padding:1rem;background-color:#F3F6F9;" width='2rem'>
   
    {{form|crispy}}
   
  </div>
  <button class='btn btn-primary' style=" margin-top:1rem;" type="submit" >Add</button>
  <a href="{% url 'coupon_list' %}" class='btn btn-info' style="margin-left:77%; margin-top:1rem;" type="submit" >Go back</a>
</form>
{% endblock%}