{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title>Zhea</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <!-- ALERTFIY CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- ALERTIFY Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>


  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css"><!--- fonts for slider on the index page -->  
  <!-- Fonts END -->

  <!-- Global styles START -->          
  <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Global styles END --> 
   
  <!-- Page level plugin styles START -->
  <link href="{% static 'assets/pages/css/animate.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/fancybox/source/jquery.fancybox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/plugins/owl.carousel/assets/owl.carousel.css' %}" rel="stylesheet">
  <!-- Page level plugin styles END -->

  <!-- Theme styles START -->
  <link href="{% static 'assets/pages/css/components.css' %}" rel="stylesheet">
  <link href="{% static 'assets/pages/css/slider.css' %}" rel="stylesheet">
  <link href="{% static 'assets/pages/css/style-shop.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'assets/corporate/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/corporate/css/style-responsive.css' %}" rel="stylesheet">
  <link href="{% static 'assets/corporate/css/themes/red.css' %}" rel="stylesheet" id="style-color">

  <!-- Theme styles END -->
  <style>
    .rupee {
      content: "\20B9";
    } 
  </style>
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="ecommerce">

{% include 'user/navbar.html'%}
    
    <!-- BEGIN SLIDER -->
    <div class="page-slider margin-bottom-35">
        <div id="carousel-example-generic" class="carousel slide carousel-slider">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- First slide -->
                <div class="item carousel-item-four active">
                    <div class="container">
                        <div class="carousel-position-four text-center">
                            <h2 class="margin-bottom-20 animate-delay carousel-title-v3 border-bottom-title text-uppercase" data-animation="animated fadeInDown">
                                Tons of <br/><span class="color-red-v2">Zhea Featured</span><br/> designed
                            </h2>
                            <p class="carousel-subtitle-v2" data-animation="animated fadeInUp">We have tons of custom made designs <br> specially made for you.</p>
                        </div>
                    </div>
                </div>
                
                <!-- Second slide -->
                <div class="item carousel-item-five">
                    <div class="container">
                        <div class="carousel-position-four text-center">
                            <h2 class="animate-delay carousel-title-v4" data-animation="animated fadeInDown">
                                Unlimted
                            </h2>
                            <p class="carousel-subtitle-v2" data-animation="animated fadeInDown">
                                Free Delivery
                            </p>
                            <p class="carousel-subtitle-v3 margin-bottom-30" data-animation="animated fadeInUp">
                                from June - August
                            </p>
                            <a class="carousel-btn" href="#" data-animation="animated fadeInUp">See More Details</a>
                        </div>
                        <img class="carousel-position-five animate-delay hidden-sm hidden-xs" src="{% static 'assets/pages/img/shop-slider/slide2/price.png' %}" alt="Price" data-animation="animated zoomIn">
                    </div>
                </div>

                <!-- Third slide -->
                <div class="item carousel-item-six">
                    <div class="container">
                        <div class="carousel-position-four text-center">
                            <span class="carousel-subtitle-v3 margin-bottom-15" data-animation="animated fadeInDown">
                                Get Products
                            </span>
                            <p class="carousel-subtitle-v4" data-animation="animated fadeInDown">
                                for all seasons
                            </p>
                            <p class="carousel-subtitle-v3" data-animation="animated fadeInDown">
                                Exclusive in Zhea
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Fourth slide -->
                <div class="item carousel-item-seven">
                   <div class="center-block">
                        <div class="center-block-wrap">
                            <div class="center-block-body">
                                <h2 class="carousel-title-v1 margin-bottom-20" data-animation="animated fadeInDown">
                                    The most <br/>
                                    wanted bijouterie
                                </h2>
                                <a class="carousel-btn" href="#" data-animation="animated fadeInUp">But It Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="right carousel-control carousel-control-shop" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- END SLIDER -->

    <div class="main">
      <div class="container">
        <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SALE PRODUCT -->
          
          <div class="row product-list">
       
          <div class="col-md-12 sale-product">
            <h2>New Arrivals</h2>
            <div class="owl-carousel owl-carousel5">
        
              {% for product in products %}
              {% if product.stock > 1 %}

              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper" >
                    <img src="{{product.images.url}}" style="width:25rem; height:25rem;"  class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="{{product.images.url}}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#pop{{forloop.counter}}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="{{product.get_url}}">{{product.product_name}}</a></h3>

                    
                  {% if  product.pro_offer and product.pro_offer.active == True   %}

                  <div style="color: red; font-size: 15px;" > <del class="text-muted ml-2">&#8377; {{product.price}}</del>
                    &#8377;{{product.pro_offer.discount|mul:product.price|div:100|sub:product.price|abs|floatformat:2}}</div>

                  {% else %}
                  <div style="color: red; font-size: 15px;" >&#8377; {{product.price}}</div>
                  {% endif %}
                <div class="d-flex justify-content-between" >
                  <a href="{% url 'buy_now_checkout' product.id %}"  style="height:30%; width:41%; " class="btn btn-success  ">Buy now</a>
                  <a href="{% url 'add_cart' product.id %}"  class="btn btn-warning mx-1 ">Add to cart</a>
                </div>
                  {% if product.pro_offer %}
                  <div class="sticker sticker-sale"></div>
                   {% endif %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
           
              <!-- <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% static 'assets/pages/img/products/model2.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="{% static 'assets/pages/img/products/model2.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                  <div style="color: red; font-size: 15px;" >&#8377; {{product.price}}</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% static 'assets/pages/img/products/model6.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="{% static 'assets/pages/img/products/model6.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                  <div style="color: red; font-size: 15px;" >&#8377; {{product.price}}</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <div>
                  <div class="product-item">
                    <div class="pi-img-wrapper">
                      <img src="{% static 'assets/pages/img/products/model4.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
                      <div>
                        <a href="{% static 'assets/pages/img/products/model4.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
                        <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                      </div>
                    </div>
                    <h3><a href="javascript:;">Berry Lace Dress4</a></h3>
                    <div style="color: red; font-size: 15px;" >&#8377; {{product.price}}</div>
                    <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                    <div class="sticker sticker-new"></div>
                  </div>
              </div>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% static 'assets/pages/img/products/model5.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="{% static 'assets/pages/img/products/model5.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress5</a></h3>
                  <div class="pi-price">₹29.00</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% static 'assets/pages/img/products/model3.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="{% static 'assets/pages/img/products/model3.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                  <div class="pi-price">₹29.00</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{% static 'assets/pages/img/products/model7.jpg' %}" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="{% static 'assets/pages/img/products/model7.jpg' %}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                  <div class="pi-price">₹29.00</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div> -->
           
            </div>
          </div>
          </div>
          
          <!-- END SALE PRODUCT -->
        </div>
        <!-- END SALE PRODUCT & NEW ARRIVALS -->

        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40 ">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-1 col-sm-4">
         
          </div>

          <!-- END SIDEBAR -->
          <!-- BEGIN CONTENT -->
         <div class="col-md-9 col-sm-8">
            <h2>Most Popular</h2>
           <div class="owl-carousel owl-carousel3">
            {% for product in pop %}
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{{product.images.url}}" style="width:25rem; height:25rem;" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="{{product.images.url}}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#pop{{forloop.counter}}" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="{{product.get_url}}">{{product.product_name}}</a></h3>
                  <div style="color: red; font-size: 15px;" >&#8377;{{product.price}}</div>
                  <div class="d-flex justify-content-between" >

                  <a href="{% url 'buy_now_checkout' product.id %}"  style="height:30%; width:41%; " class="btn btn-success  ">Buy now</a>

                  <a href="{% url 'add_cart' product.id %}" class="btn btn-default add2cart">Add to cart</a>
                  </div>
                  <div class="sticker sticker-new"></div>
                </div>
              </div>
              {% endfor %}

    
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->

        <!-- BEGIN TWO PRODUCTS & PROMO -->
        <div class="row margin-bottom-35 ">
          <!-- BEGIN TWO PRODUCTS -->
          <div class="col-md-6 two-items-bottom-items">
            <h2>Two items</h2>
     

            <div class="owl-carousel owl-carousel2">
              {% for product in products %}
              <div>
                <div class="product-item">
                  <div class="pi-img-wrapper">
                    <img src="{{product.images.url}}" class="img-responsive" alt="Berry Lace Dress">
                    <div>
                      <a href="{{product.images.url}}" class="btn btn-default fancybox-button">Zoom</a>
                      <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                    </div>
                  </div>
                  <h3><a href="{{product.get_url}}">{{product.product_name}}</a></h3>
                  <div style="color: red; font-size: 15px;" >&#8377; {{product.price}}</div>
                  <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                </div>
              </div>
            
      
        
              {% endfor %}
            
            </div>
          
          </div>
          <!-- END TWO PRODUCTS -->
          <!-- BEGIN PROMO -->
          <div class="col-md-6 shop-index-carousel">
            <div class="content-slider">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
               
               
                <div class="carousel-inner">
                 {% for product in pop %}
                  <div class="item active">
                    <img src="{{product.images.url}}" class="img-responsive" alt="Berry Lace Dress">
                  </div>

                  {% if product.images_two %}

                  <div class="item">
                    <img src="{{product.images_two.url}}" class="img-responsive" alt="Berry Lace Dress">
                  </div>
                    {% else %}

                  <div class="item">
                    <img src="{{product.images.url}}" class="img-responsive" alt="Berry Lace Dress">
                  </div>
                  {% endif %}

                  {% if product.images_three %}

                  <div class="item">
                    <img src="{{product.images_three.url}}" class="img-responsive" alt="Berry Lace Dress">
                  </div>
                  {% else %}

                  <div class="item">
                    <img src="{{product.images.url}}" class="img-responsive" alt="Berry Lace Dress">
                  </div>
                  {% endif %}
                     {% endfor %}

                </div>
                
              </div>
            </div>
          </div>
          <!-- END PROMO -->
        </div>        
        <!-- END TWO PRODUCTS & PROMO -->
      </div>
    </div>

    <!-- BEGIN BRANDS -->
    <div class="brands">
      <div class="container">
            <div class="owl-carousel owl-carousel6-brands">
               <img src="{% static 'assets/pages/img/brands/canon.jpg' %}" alt="canon" title="canon">
               <img src="{% static 'assets/pages/img/brands/esprit.jpg' %}" alt="esprit" title="esprit">
               <img src="{% static 'assets/pages/img/brands/gap.jpg' %}" alt="gap" title="gap">
               <img src="{% static 'assets/pages/img/brands/next.jpg' %}" alt="next" title="next">
               <img src="{% static 'assets/pages/img/brands/puma.jpg' %}" alt="puma" title="puma">
               <img src="{% static 'assets/pages/img/brands/zara.jpg' %}" alt="zara" title="zara">
               <img src="{% static 'assets/pages/img/brands/canon.jpg' %}" alt="canon" title="canon">
               <img src="{% static 'assets/pages/img/brands/esprit.jpg' %}" alt="esprit" title="esprit">
               <img src="{% static 'assets/pages/img/brands/gap.jpg' %}" alt="gap" title="gap">
               <img src="{% static 'assets/pages/img/brands/next.jpg' %}" alt="next" title="next">
               <img src="{% static 'assets/pages/img/brands/puma.jpg' %}" alt="puma" title="puma">
               <img src="{% static 'assets/pages/img/brands/zara.jpg' %}" alt="zara" title="zara">
            </div>
        </div>
    </div>
    <!-- END BRANDS -->

    <!-- BEGIN STEPS -->
    <div class="steps-block steps-block-red">
      <div class="container">
        <div class="row">
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-truck"></i>
            <div>
              <h2>Free shipping</h2>
              <em>Express delivery withing 3 days</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-gift"></i>
            <div>
              <h2>Daily Gifts</h2>
              <em>3 Gifts daily for lucky customers</em>
            </div>
            <span>&nbsp;</span>
          </div>
          <div class="col-md-4 steps-block-col">
            <i class="fa fa-phone"></i>
            <div>
              <h2>91-8089758357</h2>
              <em>24/7 customer care available</em>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END STEPS -->

  {% include 'user/prefooter.html' %}

    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-4 col-sm-4 padding-top-10">
            2015 © Zhea fashion  . ALL Rights Reserved. 
          </div>
          <!-- END COPYRIGHT -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-4 col-sm-4">
            <ul class="list-unstyled list-inline pull-right">
              <li><img src="{% static 'assets/corporate/img/payments/western-union.jpg' %}" alt="We accept Western Union" title="We accept Western Union"></li>
              <li><img src="{% static 'assets/corporate/img/payments/american-express.jpg' %}" alt="We accept American Express" title="We accept American Express"></li>
              <li><img src="{% static 'assets/corporate/img/payments/MasterCard.jpg' %}" alt="We accept MasterCard" title="We accept MasterCard"></li>
              <li><img src="{% static 'assets/corporate/img/payments/PayPal.jpg' %}" alt="We accept PayPal" title="We accept PayPal"></li>
              <li><img src="{% static 'assets/corporate/img/payments/visa.jpg' %}" alt="We accept Visa" title="We accept Visa"></li>
            </ul>
          </div>
          <!-- END PAYMENTS -->
          <!-- BEGIN POWERED -->
          <!-- <div class="col-md-4 col-sm-4 text-right">
            <p class="powered">Powered by: <a href="http://www.keenthemes.com/">KeenThemes.com</a></p>
          </div> -->
          <!-- END POWERED -->
        </div>
      </div>
    </div>
    <!-- END FOOTER -->
 


   
  
    <!-- BEGIN fast view of a product -->
    {% for prod in products %}
       
    
    <div id="pop{{forloop.counter}}" style="display: none; width: 700px;">
     
      <div class="product-page ">
       
        <div class="row">
          
          <div class="col-md-6 col-sm-6 col-xs-3">
           
            <div class="product-main-image">
              {% if prod.images %}
              <img src="{{prod.images.url}}" alt="" class="img-responsive">
              {% endif %}

            </div>
          
            <div class="product-other-images">
              {% if prod.images and prod.images_two and prod.images_three %}
              <a href="{{prod.images.url}}" class=""><img  src="{{prod.images.url}} "></a>
              <a href="{{prod.images_two.url}}"><img  src="{{prod.images_two.url}}"></a>
              <a href="{{prod.images_three.url}}"><img  src="{{prod.images_three.url}}"></a>
              {% endif %}
            </div>
           
          </div>
         
          
          <div class="col-md-6 col-sm-6 col-xs-9">
            <h2>{{ prod.product_name }}</h2>
            <div class="price-availability-block clearfix">
              <div class="price">
                <strong><span>₹</span>{{ prod.price }}</strong>
               
              </div>
              <div class="availability">
                Availability: <strong>In Stock</strong>
              </div>
            </div>
            <div class="description">
              <p>{{ prod.description }} {{prod.product_name}}</p>
            </div>
            <div class="product-page-options">
              <div class="pull-left">
                <label class="control-label">Size:</label>
                <select class="form-control input-sm">
                  <option>L</option>
                  <option>M</option>
                  <option>XL</option>
                </select>
              </div>
              <div class="pull-left">
                <label class="control-label">Color:</label>
                <select class="form-control input-sm">
                  <option>Red</option>
                  <option>Blue</option>
                  <option>Black</option>
                </select>
              </div>
            </div>
            <div class="product-page-cart">
              <div class="product-quantity">
                  <input id="product-quantity" type="text" value="1" readonly name="product-quantity" class="form-control input-sm">
              </div>
              <button class="btn btn-primary" type="submit">Add to cart</button>
              <a href="" class="btn btn-success">More details</a>
            </div>
          </div>

          
        </div>
      
        
      </div> 
     
</div> 

{% endfor %}

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>  
    <![endif]-->
    <script src="{% static 'assets/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>      
    <script src="{% static 'assets/corporate/scripts/back-to-top.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="{% static 'assets/plugins/fancybox/source/jquery.fancybox.pack.js' %}" type="text/javascript"></script><!-- pop up -->
    <script src="{% static 'assets/plugins/owl.carousel/owl.carousel.min.js' %}" type="text/javascript"></script><!-- slider for products -->
    <script src="{% static 'assets/plugins/zoom/jquery.zoom.min.js' %}" type="text/javascript"></script><!-- product zoom -->
    <script src="{% static 'assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js' %}" type="text/javascript"></script><!-- Quantity -->

    <script src="{% static 'assets/corporate/scripts/layout.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/pages/scripts/bs-carousel.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initTwitter();

            Layout.initFixHeaderWithPreHeader();
            Layout.initNavScrolling();
        });
    </script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  

    <!-- END PAGE LEVEL JAVASCRIPTS -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
      alertify.set('notifier','position', 'top-center');
    {% for msg in messages %}
    alertify.success('{{ msg }}');
    {% endfor %}
    </script>


    <script>
      {% if message.tags == 'info' %}
      alertify.set('notifier','position', 'top-center');
    {% for msgs in messages %}
     alertify.info('{{ msgs }}');
    {% endfor %}
    {% endif %}
    </script>

</body>
<!-- END BODY -->
</html>