{% extends 'check/bases.html' %}

{% block content %}


<div class="main">
    <div class="container">
      <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li><a href="">Store</a></li>
          <li class="active">Checkout</li>
      </ul>
      <!-- BEGIN SIDEBAR & CONTENT -->
      <div class="col margin-bottom-40">
        <!-- BEGIN CONTENT -->

<!-----SLECT ADDRESS-------->

 <style>
          
.cool {
  width: 100%;
  margin: 0 auto;
  

}


.hot {
    width: 100%;
   

}

.card-input-element {
    display: none;
}

.card-input {
    margin: 10px;
    padding: 0px;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 1px 1px #2ecc71;
}


  </style>

      <form action="{% url 'buy_now_place_order' cart_item.id %}" method="POST">
          {% csrf_token %}

    
        <div class="cool  " >
  
          <h1>Select address</h1>
          
          <div class="grid" >
            
              <div class="col-md-5 d-flex " style="width: 80%;">
                {% for adr in profile %}
               
                <label class="hot" >
                 
                  <input type="radio" name="selection" value="{{adr.id}}" selected checked class="card-input-element " />
        
                    <div class="card card-default card-input">
                      <div class="card-header">{{adr.name}}</div>
                      <div class="card-body">
                        <p> {{adr.phone}}</p>
                        <p> {{adr.address_line}}</p>
                        <p> {{adr.pincode}}</p>
                        <p> {{adr.city}}, {{adr.state}}</p>
                        <p>{{adr.country}}</p>
                        
                      </div>
                    </div>
                   
                </label>
               
                {% endfor %}
              </div>
          </div>
          
        
        

      </div>

 




<!-----END ---SLECT ADDRESS-------->


        <div class="col-md-12 col-sm-12">
         
          
          <!-- BEGIN CHECKOUT PAGE -->
          <div class="panel-group checkout-page accordion scrollable" id="checkout-page">


            <!-- BEGIN SHIPPING ADDRESS -->
            <div id="shipping-address" class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <a data-toggle="collapse" data-parent="#checkout-page" href="{% url 'buy_add_address' %}" class="accordion-toggle collapsed" aria-expanded="true">
                  
                <input type="radio" style="display: none;" name="selection" value="typeadr" id=""> Add Address
                
                  
                  </a>
                </h2>
              </div>


      
           


                  

                  <div id="confirm-content" class="panel-collapse ">
                    <div class="panel-body row">
                      <div class="col-md-12 clearfix">
                        <div class="table-wrapper-responsive">
                        <table>
                       
                          <tr>
                            
                            <th class="checkout-image">Image</th>
                            <th class="checkout-description">Description</th>
                            <th class="checkout-model">Model</th>
                            <th class="checkout-quantity">Quantity</th>
                            <th class="checkout-price">Price</th>
                            <!-- <th class="checkout-total">Total</th> -->
                            
                          </tr>
                       
                          <tr>
                          
                            <td class="checkout-image">
                              <a href="javascript:;"><img src="{{cart_item.images.url}}" alt="Berry Lace Dress"></a>
                            </td>
                            <td class="checkout-description">
                              <h3><a href="javascript:;">{{cart_item.product_name}}</a></h3>
                              <p><strong>{{cart_item.quantity}}</strong>-{{cart_item.description}}</p>
                             
                            </td>
                            <td class="checkout-model">Rev.193</td>
                            <td class="checkout-quantity">x1</td>
                            <td class="checkout-price"><strong><span>Rs.</span>{{cart_item.price}}</strong></td>
                            <!-- <td class="checkout-total"><strong><span>Rs.</span>{{product.total}}</strong></td> -->
                          
                          </tr>
                       
                        
                        </table>
                       
                        </div>
             
                        <div class="checkout-total-block">
                          <ul>
                            <li>
                              <em>Sub total</em>
                              <strong class="price"><span>Rs.</span>{{total}}</strong>
                            </li>
                            <li>
                              <em>Tax</em>
                              <strong class="price"><span>Rs.</span>{{tax}}</strong>
                            </li>
                        
                            <li class="checkout-total-price">
                              <em>Total</em>
                              <strong class="price"><span>Rs.</span>{{grand_total}}</strong>
                            </li>
                          </ul>
                        </div>
                    
                        <div class="clearfix"></div>
                        <button  class="btn btn-primary pull-right" name="submit" type="submit" id="button-confirm">Proceeed to payments</button>
                        <button type="button" class="btn btn-default pull-right margin-right-20">Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
     
        </div>
        <!-- END CONTENT -->
      </div>
      <!-- END SIDEBAR & CONTENT -->
    </div>
  </div>








{% endblock %}